html,
body{
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  height: 100%;
  background-color: blue;
}

.wrapper {
  min-height: 100%;
}

.container {
  min-height: 100%;
}

.header{
  min-height: 50px;
  padding: 0px 15px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  
}

.header__logo-wrapper {
  font-size: 40px;
  color: rgb(240, 158, 8);
  cursor: pointer;
  display: flex;
  
}

.logo__text{
  padding-left: 10px;
  font-family:'Courier New', Courier, monospace;
  font-weight: 700;
}

.header__search-wrapper {
  /* при зменшенні вікна іконка з пошукам перекривається обгорткою для меню */
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
  flex: 1 1 auto;


}

.search-box {
  width: 40%;
  display: flex;
  align-items: center;

}
.search-input {
  flex: 1 1 auto;
  outline:none;
}

.search-input:focus {
  border-radius: 2px;
  border: 2px solid rgb(124, 153, 196);
}
.search-button {
  cursor: pointer;
}
.search-voice {
  background-color: white;
  font-size: 25px;
  border-left: 5px solid white;
  color: rgb(177, 174, 174);
  cursor: pointer;
}
.search-voice:hover {
  color: grey;
}

.header__menu-wrapper {
  padding-bottom: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100px;
}

.notification {
  padding-top: 5px;
  font-size: 25px;
  color: rgb(177, 174, 174);
  cursor: pointer;
}

.notification:hover {
  color: grey;
}

.user-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  background-color: rgb(240, 158, 8);
  border-radius: 50%;
  font-size: 15px;
  cursor: pointer;
}
.user-profile:hover{
  background-color: rgb(218, 210, 210);
}



.main {
  position: fixed;
  top: 50px;
  left: 250px;
  width: calc(100% - 250px);
  height: calc(100% - 50px);
}

.main-wrapper {
height: 100%;
display: flex;
flex-direction: column;
overflow-y: auto;
/* коли один з елементів має такий великий контент, що зявляється скрол, то футер зменшується до розмірів свого контенту.*/
}

.content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(215, 241, 66);
  
}

.navigation {
  background-color: rgb(165, 190, 22);
}
.carousel-wrapper {
  background-color: rgb(159, 184, 21);
}

.videopanel-wrapper {
  background-color: rgb(124, 143, 15);
}

.footer {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(179, 171, 175);
}

.side-panel {
  position: fixed;
  top: 50px;
  width: 250px;
  height: calc(100% - 50px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(165, 170, 165);
}

.side-panel__strimers-wrapper {
  height: 100%;
  overflow-y: auto;
  background-color: rgb(165, 170, 165);
  border-bottom: 2px solid white;
}
.side-panel__strimers {
  padding: 15px 15px;
}
.side-panel__info-wrapper {
  height: 150px;
  background-color: rgb(165, 170, 165);
}

.side-panel__info {
  margin: 15px;
  height: calc(100% - 35px);
  background-color: rgb(115, 117, 115);
}

